*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root {
    --blood:rgb(144, 7, 7);
}

header {
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(144, 7, 7);
    flex-direction: column;
    border-radius: 10px;
}   

h1 {
    color:var(--blood);
    font-family: 'Nosifer', sans-serif;
}

.movies-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 4;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading-text {
    background-color: #000;
    color: var(--blood);
    text-shadow: 0 0 10px #000;
    font-family: 'Nosifer', sans-serif;
    padding: 10px;
    border: 5px solid var(--blood);
    margin: 5px;
    border-radius: 10px 10px;
}

.movie-pic {
    border: 5px solid var(--blood);
    margin: 5px;
    border-radius: 10px;
}

section {
    background-image: url("./images/Halloween-Graphic-With-Repeating-Pattern-73061155-1.png");
}

p{
    color: var(--blood);
    font-family: 'Nosifer', sans-serif;
}